@{
    ViewBag.Title = "Gestión de Empleados";
}

<div class="container">
    <h2>Gestión de Empleados</h2>

    <div class="d-flex justify-content-end">
        <!-- Button para agregar un nuevo empleado -->
        <a href="/Employee/AddEmployeeView" class="btn btn-success mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
             Agregar Empleado
        </a>
    </div>

    <!-- Tabla de empleados -->
    <table id="employeesDataTable" class="table table-bordered align-middle" style="width:100%">
        <thead>
            <tr class="table-info">
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Oficina</th>
                <th>Salario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="employeeTableBody">
            <!-- Aquí se insertaran dinamicamente los empleados -->
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        loadEmployees();

        function loadEmployees() {
            $.ajax({
                url: '/Employee/GetEmployees',
                method: 'GET',
                success: function (data) {
                    $('#employeeTableBody').empty();
                    $.each(data, function (index, employee) {
                        var row = `<tr> 
                        <td>${employee.Name}</td>
                        <td>${employee.Position}</td>
                        <td>${employee.Office}</td>
                        <td>${employee.Salary}</td>
                        <td>
                            <a href="/Employee/EditEmployeeView/${employee.Id}" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                 Editar
                            </a>
                            <button class="btn btn-danger deleteBtn" data-id="${employee.Id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg> 
                                 Eliminar
                            </button>
                        </td>
                    </tr>`;
                        $('#employeeTableBody').append(row);
                    });

                    // Iniciar dataTable para filtro y paginación
                    new DataTable('#employeesDataTable', {
                        retrieve: true,
                        language: {
                            url: 'https://cdn.datatables.net/plug-ins/2.1.6/i18n/es-ES.json',
                        },
                        order: [],
                    });

                }
            });
        }

        // Eliminar empleado
        $(document).on('click', '.deleteBtn', function () {
            var id = $(this).data('id');

            // Mostrar confirmación antes de eliminar
            var confirmDelete = confirm("¿Estás seguro de que deseas eliminar este empleado?");

            // Si el usuario acepta la eliminación
            if (confirmDelete) {
                $.ajax({
                    url: '/Employee/DeleteEmployee',
                    method: 'POST',
                    data: { id: id },
                    success: function () {
                        loadEmployees();  // Recargar la lista de empleados después de eliminar
                        alert("Empleado eliminado exitosamente.");
                    },
                    error: function () {
                        alert("Hubo un error al eliminar el empleado.");
                    }
                });
            } else {
                // Si el usuario cancela, no se hace nada
                alert("Eliminación cancelada.");
            }
        });

    });
</script>
